Server\ files
# revascularization
# f2\ optimised\ models
# combined
# Optimisation\ data
Conference\ -\ 2022\ Вычислительная\ биология\ и\ искусственный\ интеллект\ для\ персонализированной\ медицины
Reference\ articles
Reports
.DS_Store